<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, id: :project_project_name %>
  </div>

  <div class="field">
    <%= form.label :user_stories %>
    <%= form.text_field :user_stories, id: :project_user_stories %>
  </div>

  <div class="field">
    <%= form.label :wireframes %>
    <%= form.text_field :wireframes, id: :project_wireframes %>
  </div>

  <div class="field">
    <%= form.label :erd %>
    <%= form.text_field :erd, id: :project_erd %>
  </div>

  <div class="field">
    <%= form.label :proposal %>
    <%= form.text_field :proposal, id: :project_proposal %>
  </div>

  <div class="field">
    <%= form.label :technologies %>
    <%= form.text_field :technologies, id: :project_technologies %>
  </div>

  <div class="field">
    <%= form.label :features %>
    <%= form.text_field :features, id: :project_features %>
  </div>

  <div class="field">
    <%= form.label :bonus %>
    <%= form.text_field :bonus, id: :project_bonus %>
  </div>

  <div class="field">
    <%= form.label :issues %>
    <%= form.text_field :issues, id: :project_issues %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
