<!DOCTYPE html>
<html>
  <head>
    <title>devHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- this is to include a static header -->
  <%= render "layouts/header" %>

  <%= yield %>
  <!-- this is to include a static footer -->
  <%= render "layouts/footer" %>
  </body>
</html>
